
.container-booksearch {
    border-style:solid;
    border-width: 1px;
    width: 85.5%;
    margin-top:5%;
    margin-left:7.5%;
}

.book-input {
    width: 50%;
    margin-bottom:5%;
    margin-left: 5%;
    margin-top:2%;
}

.container-bookList {
    float:left;
    border-style:solid;
    border-width: 1px;
    height:50%;    
}